<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/style.css"/>
    <link rel="stylesheet" href="../../assets/css/header.css"/>
</head>
<body>
<header>
    <div id="header-content" class="header-content">
      <div id="header-menu">
        <img class="logo" src="/assets/img/pngegg.png" alt="logo" />
        <nav>
          <ol>
            <li><a href="/">Accueil</a></li>
            <li><a href="#">À propos</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="condition.html">Conditions</a></li>
          </ol>
        </nav>    
      </div>
      <div id="connexion-header-menu" class="header-content">
        {{if eq .Auth false}}
        <nav>
          <ol>
            <li><a href="/login">se connecter</a></li>
            <li><a href="#">créer un compte</a></li>
          </ol>
        </nav>
        {{else if eq .Auth true}}
        <p>connecté</p>
        {{end}}
      </div>
    </div>
    <div id="header-transition"></div>
  </header>
<div class="forum_ctn">
    {{if eq .Auth true}}
    <button id="plus-div">
      <img id="plus" src="/assets/img/bouton-plus.png" alt="bouton plus">
      <p>créer un topic</p>
    </button>
    {{end}}
    <h1>Catégorie</h1>
    {{range .ListCat}}
    <form action="" method="get">
        <button  type="submit" value="{{.IDCat}}" class="box_ctn">
            <img src={{.Url.String}} alt="logo">
            <div class="box_content">
                <h3>{{.Titre.String}}</h3>
            </div>
        </button>
    </form>
    {{end}}
    <h1>Topic</h1>
    {{range .ListTopic}}
    <form action="" method="get">
        <button type="submit" value="{{.IDTopic}}" class="box_ctn">
            <div class="box_content">
                <h3>{{.Titre.String}}</h3>
                <h4 >{{.DateCreationString}}</h4>
            </div>
        </button>
    </form>
    {{end}}
</div>
<div class="forum_ctn">


</div>



<div id="btn_topic" class="topic_ctn_unactive"></div>

<footer>

    <div id="footer">
        <h3>Liens utiles</h3>
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">À propos</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Conditions</a></li>
        </ul>

    </div>


</footer>

<script src="frontend/js/forum.js"></script>
<script src="/assets/js/topic_btn.js"></script>
</body>
</html>
