body{
    background-color: #161a21;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

#conditon-content{
    max-width: 50%;
    margin-left: 25%;
}

#conditon-content h1{
    color:#3b84df;
}

.condition-part{
    margin-top: 5%;
}
.condition-part p{
    margin-top: 2%;
}
.condition-part h1 {
    margin-bottom: 15px;
}