#footer{
    background-color: #3b84df;
    color: white;
    padding: 100px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#footer h3{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}



#footer a{
    color: white;
    text-decoration: none;
}

#footer li{
    list-style-type: none;
    margin-top: 10px;
}

body{
    background-color: #161a21;
}


.forum_ctn{
    color: white;
    padding: 100px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.box_ctn{
    background-color: #3b5678;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.box_ctn img {
    width: 5%;
    height: 10%;
    border-radius: 10px;
    margin-right: 20px;
}

.content-ctn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-ctn p{
    font-size: 15px;
}

.box_ctn:hover ,.box_ctn img{
    transition: 0.5s;
    transform: scale(1.01);
}

.box_ctn:hover{
    background-color: #3b84df;
}

#plus-div{
    height:150px ;
    width:150px ;
    float: right;
    background-color: transparent;
    color: white;
    font-size: 15px;
}

#plus{
    height: 90%;
    width: 90%;
    
}

.topic_ctn_active{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #3b5678;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 50%;
    transition: 2s;
}

.topic_ctn_unactive{
    display: none;
}
